# Default ignored files
/shelf/
/workspace.xml
/**/workspace.xml
/**/tasks.xml
/**/usage.statistics.xml
/**/dictionaries
/**/shelf
/**/dataSources/
/**/dataSources.ids
/**/dataSources.local.xml
/**/sqlDataSources.xml
/**/dynamic.xml
/**/uiDesigner.xml
/**/dbnavigator.xml
/artifacts
/compiler.xml
/jarRepositories.xml
/modules.xml
/*.iml
/modules
/sonarlint